<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.insightbridge.tg_digest</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/bin/python3</string>
        <string>/Users/tongyin/tg_digest/tg_digest.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/tongyin/tg_digest</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/tongyin/tg_digest/tg_digest.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/tongyin/tg_digest/tg_digest.log</string>

    <key>RunAtLoad</key>
    <false/>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/anaconda3/bin</string>
        <key>HOME</key>
        <string>/Users/tongyin</string>
    </dict>
</dict>
</plist>
