<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.insightbridge.daily_report</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/anaconda3/bin/python3</string>
    <string>/Users/tongyin/Desktop/InsightBridge_九大模型_v2026/daily_report.py</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/tongyin/Desktop/InsightBridge_九大模型_v2026/daily_report.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/tongyin/Desktop/InsightBridge_九大模型_v2026/daily_report.err</string>

  <key>RunAtLoad</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/tongyin</string>
    <key>PATH</key>
    <string>/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
